<div class="container">
  <input type="text" [(ngModel)]="titre" placeholder="Rechercher par titre">
  <div class="row">
    <div class="col-md-4" *ngFor="let categorie of categories | filter: titre" style="margin-bottom: 20px;">
      <img [src]="categorie.image" [alt]="categorie.title" class="img-fluid h-50 w-75" (click)="showDescription(categorie.description)">
      <h3>{{ categorie.title | uppercase }}</h3>
      <button *ngIf="categorie.available" class="btn btn-primary">Voir produits</button>
      <p *ngIf="!categorie.available">Catégorie non disponible</p>
      <p>{{ categorie.description }}</p>
    </div>
  </div>
</div>